.login {
    width: 100%;
    min-height: 100vh;
    background-image: url(../../assets/unsplash_s9CC2SKySJM.webp);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
    padding: 0 60px;
    position: relative;
}
.login .logo {
    width: 191px;
    height: 55px;
    position: absolute;
    top: 34px;
    left: 34px;
}

.login .text {
    color: #fff;
    width: 40%;
    font-weight: 500;
    font-size: 37px;
    line-height: 118%;
}
.description {
    font-weight: 400;
    line-height: 27px;
    font-size: 15px;
    line-height: 27px;
    margin-top: 10px;
}
.form-dev {
    width: 380px;
    height: 570px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin: 26px 0;
}
.login .form-dev h3 {
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}
.input-container {
    position: relative;
}
.form-control {
    height: 40px;
}
.label {
    position: absolute;
    top: -10px;
    left: 10px;
    font-weight: 400;
    font-size: 12.3317px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #000000;
    opacity: 0.5;
}
.custom-input-lable {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
    position: absolute;
}
.check {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}
.btn-login {
    background-color: #3f0343;
    width: 96%;
    height: 55px;
    border-radius: 10px;
    color: #fff;
    border: none;
    margin: 100px auto 0;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
}
.btn-login:hover {
    color: #fff;
}
.signin-container {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
.signin-container p {
    color: #909090;
    font-size: 12px;
    font-weight: 600;
}
.signin-container a {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #00b2ff;
    text-decoration: none;
}
.continue {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    color: #01a4f1;
    display: flex;
    justify-content: center;
}
.continue::before {
    content: "";
    width: 40%;
    height: 1px;
    background-color: #9269ba;
    position: absolute;
    top: 10px;
    left: -20px;
}
.continue::after {
    content: "";
    width: 40%;
    height: 1px;
    background-color: #9269ba;
    position: absolute;
    top: 10px;
    right: -20px;
}
.media-btn {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 4px;
    margin: 30px 0;
}
.media-btn .icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid gray;
    background-color: #fff;
    width: 130px;
    height: 40px;
    font-size: 13px;
    font-weight: 500;
}

.icon-btn img {
    width: 17px;
    margin-right: 4px;
}

@media screen and (max-width: 768px) {
    .login {
        justify-content: flex-start;
        flex-direction: column;
        padding: 140px 0 60px;
    }

    .login .text,
    .login .form-dev {
        width: 80%;
    }

    .text {
        margin-left: 34px !important;
    }
}
